<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>

    <!--====== Favicon Icon ======-->
    <link
      rel="shortcut icon"
      href="../../public/images/favicon.svg"
      type="image/svg"
    />
    
    <!-- ===== All CSS files ===== -->
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../public/css/animate.css" />
    <link rel="stylesheet" href="../../public/css/lineicons.css" />
    <link rel="stylesheet" href="../../public/css/ud-styles.css" />
  </head>
  <body>