<!-- ====== Header Start ====== -->
<header class="ud-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <nav class="navbar navbar-expand-lg">
          <a class="navbar-brand" href="/">
            <h2>Synema21</h2>
          </a>
          <button class="navbar-toggler">
            <span class="toggler-icon"> </span>
            <span class="toggler-icon"> </span>
            <span class="toggler-icon"> </span>
          </button>

          <div class="navbar-collapse">
            <ul id="nav" class="navbar-nav mx-auto">
              <li class="nav-item">
                <a class="" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="" href="#about">About</a>
              </li>
              <li class="nav-item">
                <a class="" href="#pricing">Pricing</a>
              </li>
              <li class="nav-item">
                <a class="" href="/movie">Movies</a>
              </li>
              <li class="nav-item">
                <a class="" href="#contact">Contact</a>
              </li>
            </ul>
          </div>
          {{#if loginUser}}
            <a
              href="btn btn-primary dropdown-toggle"
              href="#"
              role="button"
              id="dropdownMenuLink"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <img
                src="../../public/images/logo.png"
                class="profile-img"
                alt="profile"
              />
            </a>
            <div
              class="dropdown-menu dropdown-menu-end"
              aria-labelledby="dropdownMenu2"
            >
              <div class="row drop-item">
                <a href="/profile/{{user.id}}" class="btn">
                  <img src="../../public/images/icon/profile.svg" alt="" />
                  Profile</a>
              </div>
              <li><hr class="dropdown-divider" /></li>
              <div class="row drop-item">
                <a href="/logout" class="btn">
                  <img src="../../public/images/icon/exit.svg" alt="" />
                  LogOut</a>
              </div>
            </div>
          {{else}}
            <div class="navbar-btn d-none d-sm-inline-block">
              <a href="/signin" class="ud-main-btn ud-login-btn">
                Sign In
              </a>
              <a href="/signup" class="ud-main-btn ud-white-btn">
                Sign Up
              </a>
            </div>
          {{/if}}
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- ====== Header End ====== -->